server:
  port: 8086

spring:
  application:
    name: notification-service
  
  datasource:
    url: jdbc:mysql://localhost:3307/notification_db
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

logging:
  level:
    mns: DEBUG