server:
  port: 8082

spring:
  application:
    name: inventory-service
  
  data:
    mongodb:
      host: localhost
      port: 27012
      database: inventory_db
#      uri: mongodb://localhost:27012/inventory-db
#      username: admin
#      password: password
#      authentication-database: admin

  main:
    allow-bean-definition-overriding: true

logging:
  level:
    org.springframework.data.mongodb.core: DEBUG
    mis: DEBUG
